<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aboutyou.dart_packages.sign_in_with_apple">

    <application>
        <activity
            android:name=".SignInWithAppleCallback"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- The deep link needs to match what was set up in the Apple Developer portal -->
                <!-- This is the default which is set up by the plugin, but you can change it to something else
                     if customized in IOS -->
                <data android:scheme="signinwithapple" />
                <data android:path="callback" />
            </intent-filter>
        </activity>
    </application>
</manifest> 